body {
    font-family: Arial;
    margin: 0;
}

/* Header */
header {
    background: #2c3e50;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* Hero */
.hero {
    background: url('https://images.unsplash.com/photo-ngo') no-repeat center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.btn {
    background: orange;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

/* Cards */
.cards {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.cards div {
    background: #ecf0f1;
    padding: 20px;
    width: 30%;
    text-align: center;
}

/* Footer */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}